[Desktop Entry]
Name=Minecraft Server Status
Name[en_GB]=Minecraft Server Status
Name[nl]=Minecraftserver status
Comment=Displays Minecraft Server information
Comment[en_GB]=Displays Minecraft Server information
Comment[nl]=Geeft de status van een Minecraftserver weer

#Icon=YES
Icon=minecraft-launcher
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=nl.netsoj.minecraftserverping
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://netsoj.nl/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
